* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: teal; */
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* background-color: aquamarine; */
    height: 100%;
    width:100%;
    /* overflow: auto; */

    position: relative;
    /* border: 5px solid salmon; */
}


.box {
    background-color: steelblue;
    /* height: 500px;
    max-height: 500px; */
    width: 350px;
    aspect-ratio: 2.5/3.5;
    position: absolute;
    border: 2px solid goldenrod;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    transform: translateX(0);

}

.active 
{
    /* z-index: 150;
    transform: scale(110%); */
}

#prevButton, #nextButton
{
    /* padding:1rem; */
    font-size: 3rem;
    z-index: 400;
    background-color: rgba(100,100,100,0.5);
    width:80px;
    height:80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    aspect-ratio: 1/1;
    text-decoration: none;

    transition: all 300ms ease-in;
    transform: scale(100%);

    /* margin-inline: 1.5rem; */
}

#prevButton:hover, #prevButton:active, #nextButton:hover, #nextButton:active
{
    transform: scale(115%);
}

#prevButton {
    /* justify-self: start; */
}

#nextButton {
    /* justify-self: end; */
}


.left {
    background-color: crimson;
    /* opacity: 0.5; */
    /* left:0; */
    /* max-height: 400px; */
}

.one {
    /* transform: translateX(0); */
    left:0;
    max-height: 325px;
    
}

.two {
    /* transform: translateX(20px); */
    left:20px;
    max-height: 350px;
}

.three {
    /* transform: translateX(40px); */
    left: 40px;
    max-height: 375px;
}

.four {
    /* transform: translateX(60px); */
    left: 60px;
    max-height: 400px;
}

.right {
    background-color: seagreen;
    /* opacity: 0.5; */
    /* right:0; */
    /* height: 400px; */
}


.five {
    right:60px;
    max-height: 400px;
    z-index: 8;
}

.six {
    /* transform: translateX(40px); */
    right: 40px;
    max-height: 375px;
    z-index: 7;
}

.seven {
    /* transform: translateX(20px); */
    right:20px;
    max-height: 350px;
    z-index: 6;
}

.eight {
    /* transform: translateX(0); */
    right:0;
    max-height: 325px;
    z-index: 5;
}
